@import './_reset.css';
@import './_base.css';
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@40,400,1,0');

@font-face {
  font-family: 'Poppins';
  src: url(/assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: 'Heebo';
  src: url(/assets/fonts/Heebo-VariableFont_wght.ttf);
}

:root {
  --Gray-1: #333;
  --Gray-2: #4f4f4f;
  --Gray-3: #828282;
  --Gray-4: #bdbdbd;
  --Gray-5: #e0e0e0;
  --Gray-6: #f2f2f2;
  --Blue: #2d9cdb;
  --Green: #27ae60;
  --Red: #eb5757;

  --intro-contact-section-margin-right: 14rem;
  --section-margin-right: 7rem;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

body div#main-container {
  min-width: 100%;
  min-height: 100%;
  color: var(--Gray-1, #333);

  font-family: 'Poppins';
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}

/* Global style */
.title {
  font-weight: 500;
}

.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2.25rem;
}

.h3 {
  font-size: 1.5rem;
}

.custom-field {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.custom-field .label {
  margin-block-end: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--Gray-3, #828282);
}

.custom-field div {
  width: 21.875rem;
  height: 3.5625rem;
  display: flex;
  align-items: center;

  border-radius: 0.75rem;
  background: var(--Gray-6, #f2f2f2);
}

.custom-field input {
  flex-grow: 1;
  padding-inline-start: 1.125rem;
  border: none;
  box-sizing: border-box;

  color: var(--Gray-2, #bdbdbd);
  font-size: 1.125rem;
  font-weight: 500;

  background: transparent;
}

.custom-field input:focus {
  outline: none;
}

.custom-field input::placeholder {
  color: var(--Gray-4, #bdbdbd);
}

.custom-field button {
  margin-inline: 0.25rem;
  width: 5.875rem;
  height: 3.0625rem;

  border: none;
  border-radius: 0.75rem;
  color: var(--Gray-6, #f2f2f2);
  font: inherit;

  background: var(--Blue);
}

/* Header */
.header {
  margin-inline: 3.25rem;
  margin-block: 2.6rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title {
  font-family: 'Heebo';
  font-size: 2.25rem;
  font-weight: 800;
}

.menu {
  width: 44rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.menu .menu-item {
  font-size: 1.5rem;
  font-weight: 500;
}

.main {
  padding-inline: 3.25rem;
}

/** 
    Section Intro
*/

section.intro {
  margin-block-end: 2.63rem;
  display: flex;
  flex-direction: column;
}

section.intro strong,
section.intro .h1 {
  margin-inline-start: var(--intro-contact-section-margin-right);
}

section.intro strong {
  margin-block-end: 1rem;
  inline-size: 16rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--Blue);
}

section.intro .h1 {
  margin-block-end: 2.5rem;
  inline-size: 34rem;
}

section.intro figure,
section.intro figure img {
  width: 100%;
  border-radius: 1.125rem;
}

section.intro figure {
  display: flex;
}

section.contact {
  margin-inline-start: var(--intro-contact-section-margin-right);
  margin-block-end: 12.5rem;
}

section.contact .h1,
section.contact p {
  margin-block-end: 2.63rem;
  inline-size: 22.875rem;
}

section.contact p {
  font-size: 1.125rem;
  color: var(--Gray-2, #4f4f4f);
}

section.services {
  margin-inline: var(--section-margin-right);
  margin-block-end: 12.125rem;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  /* background: lightsalmon; */
}

section.services .h2 {
  margin-block-end: 2.63rem;
  inline-size: 21.625rem;
}

section.services .card-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 2.5625rem;
  align-self: center;
}

section.services .card {
  padding-inline: 2.12rem;
  padding-block-start: 2.88rem;
  width: 21.3125rem;
  height: 26.375rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border-radius: 1.5rem;
  box-sizing: border-box;

  background: lightcoral;
}

.card .card-icon {
  margin-block-end: 2.19rem;
  width: 4.1875rem;
  height: 4.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;

  color: white;
  font-size: 2.25rem;
}

.card .card-title {
  margin-block-end: 1.5rem;
  font-weight: 700;
}

.card .card-text {
  margin-block-end: 1.875rem;

  color: var(--Gray-2, #4f4f4f);
  font-weight: 500;
}

.card .card-action {
  width: 7.25rem;
  height: 2.625rem;
  border: none;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: var(--Gray-3);

  background: var(--Gray-5);
}

.card-design .card-icon {
  background: var(--Blue);
}

.card-front .card-icon {
  background: var(--Green);
}

.card-back .card-icon {
  background: var(--Red);
}

section.services .card:hover {
  box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.1);
}

section.services .card:hover .card-action {
  color: white;
  background: var(--Blue);
}

section.works {
  margin-inline: var(--section-margin-right);
  margin-block-end: 13.72rem;
}


section.works .h2 {
    inline-size: 28rem;
}

section.works .works-gallery {
  columns: 2;
  column-gap: 1.25rem;
}
section.works .works-gallery-items {
    height: fit-content;
}

section.works .works-gallery-items img {
  margin-block-end: 1.25rem;
  width: 100%;
  border-radius: 0.75rem;
}

section.works .works-gallery-items .details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section.works .works-gallery-items .details .work-domain {
  margin-block-end: 0.35rem;
  color: var(--Gray-3, #828282);
  font-size: 0.875rem;
  font-weight: 300;
}

section.works .works-gallery-items .details .work-name {
  font-size: 1.5rem;
  font-weight: 500;
}

section.works .works-gallery-items#smarthome {
    margin-block-start: 11.75rem;
  }

  section.works .works-gallery-items#booking,
  section.works .works-gallery-items#juice-product {
    margin-block-start: 9.65rem;
  }

  section.works .works-gallery-items#juice-product {
    margin-block-end: 9rem;
  }

  section.works .works-gallery .see-more {
    display: flex;
    justify-content: end;
    align-items: center;
    color: var(--Blue);
    font-size: 1.5rem;
    font-weight: 500;
  }

  section.works .works-gallery .see-more span{
    margin-inline-start: .82rem;
  }

